[2019-07-20 22:08] pragnagopa opened #2 "Add RabbitMQ output binding"

[2019-07-20 22:11] pragnagopa opened #3 "Add CI - devops"

[2019-07-20 22:12] pragnagopa opened #4 "Add RabbitMQ Trigger"

[2019-07-20 22:12] pragnagopa opened #5 "Add samples for RabbitMq input binding"
Decide whether it makes sense to have an input binding for this extension, or if the output and trigger are enough

[2019-07-20 22:13] pragnagopa opened #6 "Add readme with E2E samples"

[2019-07-20 22:14] pragnagopa opened #7 "Test E2E on Function App AppService plan"

[2019-07-20 22:16] pragnagopa opened #8 "Test E2E Function App - Keda"
Instructions on setup: https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda

[2019-07-20 22:19] pragnagopa opened #9 "Update Scale Controller"
Update Scale Controller for the supporting RabbitMq Trigger on consumption plan

[2019-07-23 02:22] pragnagopa opened #10 "Add support to bind to RabbitMq Client"

[2019-07-23 20:43] katiecai opened #11 "Add POCO Support for Output Binding"

[2019-07-23 22:51] katiecai opened #12 "Binding Data Contract for Metadata Extraction"

[2019-07-24 17:07] katiecai opened #13 "Add IAsyncCollector support for byte[]"

[2019-07-24 18:34] #11 closed

[2019-07-24 18:43] katiecai opened #14 "Figure out batching support for trigger"

[2019-07-25 00:26] #12 closed

[2019-07-25 16:29] katiecai opened #15 "Add automated E2E tests for binding and trigger"

[2019-07-25 18:10] katiecai commented on #13
Closed - byte[] was already supported, just needed to implement AddAsync with byte[] as argument for the Rabbit AsyncCollector class

[2019-07-25 18:10] #13 closed

[2019-08-02 23:25] katiecai opened #21 "Add samples with both RabbitMQ trigger + RabbitMQ output binding"

[2019-08-06 22:03] katiecai opened #23 "Figure out authentication configuration for output binding and trigger"
Currently all of our use cases connect to **localhost**. This is obviously not going to be the only use case, but RabbitMQ doesn't allow users to connect to any other host besides localhost unless they use a non-default user name and password. If not specified, both the user name and password are set to "guest." Connecting to any other host would require both of these to be set by the user.

Thus,

[2019-08-06 22:04] katiecai opened #24 "Decide whether EventArgs to JSON Conversion is needed"

[2019-08-07 20:25] #3 closed

[2019-08-07 20:25] #6 closed

[2019-08-07 23:06] #2 closed

[2019-08-15 16:16] pragnagopa commented on #21
- Add wiki to this repo
- Update read me with wiki link
- Update read me to include license  and contributing info. See example: https://github.com/Azure/azure-functions-servicebus-extension

[2019-08-15 16:18] pragnagopa commented on #14
Please add more details to the issue. Is this regarding BatchNumber property or about receiving and writing messages in batches?

[2019-08-15 20:26] katiecai opened #29 "Catching exceptions upon failed conversion"
We are trying to decide what warrants a retry of sending messages and whether or not failed conversion (to POCO for example) is a part of that. This specific converter catches any exception upon failure to convert, but we need to figure out if we want to do this or if we want to throw. Will be more relevant when writing logic for acknowledgements

Code is here: https://github.com/Azure/azure-funct

[2019-08-16 23:26] katiecai commented on #23
https://github.com/Azure/azure-functions-rabbitmq-extension/pull/31 addresses this issue - we have several overloaded constructors that either take in an amqp string or connection parameters separately

[2019-08-19 20:51] katiecai opened #32 "Expose attribute to let users configure IBasicProperties"

[2019-08-19 20:52] katiecai commented on #23
https://github.com/Azure/azure-functions-rabbitmq-extension/pull/31 merged

[2019-08-19 20:52] #23 closed

[2019-08-21 20:10] #4 closed

[2019-08-21 23:32] katiecai opened #35 "Acknowledgement and retry logic"
Figure out protocol for resending queue messages on error.

Right now:
- If a delivered message throws, we republish the message and keep track of the retry count.
- If the retry count exceeds 5, we reject the message.

To do:
- Instead of just rejecting the message if it's exceeded the maximum retry count, we also want to add it to a dead letter exchange. To do this, we need to expose an attribut

[2019-08-22 22:03] katiecai opened #37 "Auto populate Connection String for trigger"
Connection string setting is not populating automatically for trigger

[2019-08-23 06:51] ankitvijay opened #39 "Nuget for this azure-functions-rabbitmq-extension"
Hi guys,
This extension looks promising and we are eager to use it our project.

However,I could not locate link/ reference to NuGet Package for this library. Could you please point me the NuGet package if it already exists? Or else, are there any plans to have a NuGet package for this library?  Is yes, could you share the timelines?

- Thanks

[2019-08-26 04:27] guojian83 opened #41 "Trigger template in CLI"
Hi,

I am looking at whether its possible to have a template for this rabbitmq trigger just like other triggers in the extension bundles.
So far I only see this link to create a template for CSharp.
https://github.com/Azure/azure-functions-templates/wiki/Using-the-templates-directly-via-dotnet-new
Happy to contribute but if you could point me to the right direction for creating function templates.

[2019-08-27 00:24] katiecai opened #42 "Do not default to localhost for hostname on Azure"
Right now, if a developer does not configure any connection string or hostname, the extension defaults the hostname to localhost. This errors when testing in Azure so we want to default to something else

[2019-08-28 10:11] breno601 commented on #39
Hi, does that mean you do not recommend to use this on production?

I was also trying to get it from nuget and couldn't find the package.

Thanks!

[2019-08-28 20:13] ankitvijay commented on #39
Thanks @breno601 and @katiecai

[2019-08-29 16:49] katiecai commented on #37
https://github.com/Azure/azure-functions-rabbitmq-extension/pull/40 and https://github.com/Azure/azure-functions-rabbitmq-extension/pull/44

[2019-08-29 16:49] #37 closed

[2019-08-29 16:51] katiecai commented on #29
https://github.com/Azure/azure-functions-rabbitmq-extension/pull/43

we don't catch exceptions upon failure of conversion - instead we let the error bubble up so that we can try to resend it until we reach the max retry count

[2019-08-29 16:51] #29 closed

[2019-08-29 17:03] katiecai commented on #24
Removed EventArgs to JSON conversion, since for now we only want the conversion to POCO

[2019-08-29 17:03] #24 closed

[2019-08-29 21:59] katiecai opened #46 "Figure out scaling metrics"
Currently, the only metrics we use for scaling are queue length. It'd be nice to be able to use time as a metric as well, but here are the issues with that:

- RabbitMQ has no implementation for message timestamp. We could use the [timestamp extension](https://github.com/rabbitmq/rabbitmq-message-timestamp) for this, or we could implement this ourselves (add a timestamp in the header of a message

[2019-08-30 17:40] james-tn opened #47 "Can this be used with Python or Java runtime of Azure function?"

[2019-09-05 10:10] creyke opened #49 "Is the output binding production ready?"
I notice this project popped up recently...

I am already manually writing data from an Azure Function Cosmos Trigger to a RabbitMQ queue, but I am keen to pass the reconnect logic to an official binding and just populate a collection of messages as per your samples.

There is no NuGet package for this currently - does this mean it's still in development and not ready for production?

[2019-09-05 11:20] creyke commented on #49
Please ignore, I read other recent issues and can see you are working towards a preview.

[2019-09-05 11:20] #49 closed

[2019-09-05 11:37] creyke opened #51 "Support custom routing keys per message"
Please can you make it possible to change the routing key per message. This is a common requirement of RabbitMQ message producers.

[2019-09-05 17:03] katiecai opened #52 "Not Implemented Error on Portal"
Running the trigger after deploying to my function on App Service seems to throw a NotImplementedException.

The error message looks like:
2019-09-05T16:35:50.230 [Error] Executed 'TriggerFunction' (Failed, Id=d4e9580a-7e66-4a8b-aa0d-23e881ff41df)
The method or operation is not implemented.

Might have something to do with manually clicking 'run' on the portal - I looked for instances of throwing

[2019-09-05 17:11] katiecai opened #53 "Test extension for Python/JS"
Edit: tested simple output/trigger functions for JavaScript and the behavior is expected. However, for some reason we default conversion to JSON objects, so any strings not JSON formatted will error.

Edit (again): For JavaScript, we just need to specify the binding data type within function.json

[2019-09-05 17:51] katiecai commented on #52
Closing as it is tooling issue - clicking run on trigger sends dummy data

[2019-09-05 17:51] #52 closed

[2019-09-05 17:55] katiecai opened #54 "Publish preview package nuget"

[2019-09-05 18:02] #7 closed

[2019-09-05 18:12] katiecai commented on #35
closing, as addressed by https://github.com/Azure/azure-functions-rabbitmq-extension/pull/43 and https://github.com/Azure/azure-functions-rabbitmq-extension/pull/45

documentation on this shown in [wiki samples](https://github.com/Azure/azure-functions-rabbitmq-extension/wiki/Samples)

[2019-09-05 18:12] #35 closed

[2019-09-05 18:14] katiecai commented on #46
scaling PR in progress: https://github.com/Azure/azure-functions-rabbitmq-extension/pulls

[2019-09-05 18:17] katiecai commented on #9
more details at https://github.com/Azure/azure-functions-rabbitmq-extension/issues/46

[2019-09-06 17:52] jeffhollan opened #55 "Make sure "connectionStringSetting" maps to "host""
For KEDA to work, the metadata expects a property called "host", which is currently serialized as "connectionStringSetting".  I don't mind how we fix, but when I run `func kubernetes deploy` it should end up in kubernetes as "host".

Option 1: WE rename connectionStringSetting to host (believe this may be consistent with rabbitMQ SDKs - at least that's why we chose it for KEDA).

Option 2: We add

[2019-09-06 18:11] jeffhollan opened #56 "Make the connection string an app setting"
Not sure if this means it has to be a connection string, but I know for other connection strings they are actually app settings too

https://github.com/Azure/azure-functions-rabbitmq-extension/blob/f655542427534270fb38052c3ab094b806fd3fe7/src/RabbitMQAttribute.cs#L41-L42

So would prefer this is an app setting too

[2019-09-06 18:42] pragnagopa commented on #56
@brettsam / @fabiocav - Right now, we have explicitly chose to expose connection string setting as connectionString instead of an appSetting. Should we support both?

[2019-09-06 18:43] pragnagopa commented on #55
I would prefer option 2 as it keeps extension consistent with rest of the bindings. @katiecai - please consider this a higher priority as using rabbitMQ trigger with KEDA is blocked until this is fixed.

[2019-09-06 18:47] jeffhollan commented on #56
The concrete thing I don't want to have happen is that when people publish they shouldn't add this to the connection string setting of the Antares stuff.  That would be a huge difference.  As long as it still an "App Setting" I'll let you all make the call

[2019-09-06 18:59] brettsam commented on #56
Can you call this? https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Extensions/IConfigurationExtensions.cs#L78. That should do the fallback for you.

[2019-09-06 19:10] brettsam commented on #56
Actually, where do you populate this @pragnagopa / @katiecai?  We can take another look... we really need an audit of how all the extensions do their resolution to see what discrepancies we have.

[2019-09-06 19:40] katiecai commented on #56
@brettsam I think the connection string is automatically populated for the output binding. I know for the trigger we had to resolve it ourselves: https://github.com/Azure/azure-functions-rabbitmq-extension/blob/f655542427534270fb38052c3ab094b806fd3fe7/src/Trigger/RabbitMQTriggerAttributeBindingProvider.cs#L52 and https://github.com/Azure/azure-functions-rabbitmq-extension/blob/f655542427534270fb38

[2019-09-06 20:58] fabiocav commented on #56
The extensions we have today should be supporting both.

[2019-09-09 16:02] katiecai commented on #10
closing as https://github.com/Azure/azure-functions-rabbitmq-extension/pull/58 solves this

[2019-09-09 16:02] #10 closed

[2019-09-10 16:51] katiecai commented on #56
I just verified on my function app that it does indeed populate regardless of whether you configure it as an app setting or connection string setting, as long as you set the ConnectionStringSetting to the right key

[2019-09-10 16:51] #56 closed

[2019-09-10 18:00] katiecai commented on #53
Tested with both and we got expected behavior. See samples in the wiki

[2019-09-10 18:00] #53 closed

[2019-09-10 18:00] katiecai opened #60 "Add support for Java"

[2019-09-10 20:27] katiecai commented on #55
Closing as https://github.com/Azure/azure-functions-core-tools/pull/1544 solves this

[2019-09-10 20:27] #55 closed

[2019-09-10 22:37] katiecai commented on #54
https://github.com/Azure/azure-functions-rabbitmq-extension/releases/tag/v0.2.2001-beta !!

[2019-09-10 22:37] #54 closed

[2019-09-11 20:48] katiecai opened #62 "Scaling changes"
- We want to query the queue size every time we look for trigger metrics. Use **QueueDeclarePassive**
- We want to configure an attribute for batch size to improve performance. This value would go in the call to **BasicQos**
- We don't want to acknowledge multiple messages at once. This messes up the ACKs when we use the prefetch count. This change should go in the call to **BasicAck**

[2019-09-12 02:13] jeffhollan opened #63 "Attribute parameters get serialized incorrectly"
![image](https://user-images.githubusercontent.com/7132626/64748773-26bd5200-d4c8-11e9-9e0d-4f041f37f6ce.png)

[2019-09-12 23:41] katiecai commented on #63
closing with merge of https://github.com/Azure/azure-functions-rabbitmq-extension/pull/64

[2019-09-12 23:41] #63 closed, assigned to nobody

[2019-09-12 23:42] katiecai commented on #62
First & last bullets have been addressed by https://github.com/Azure/azure-functions-rabbitmq-extension/pull/59, but we would still like a way to configure batch size

[2019-09-13 17:31] mathewc opened #66 "Prefetch + Other Options Configurable"
Currently we have prefetch count hard coded. We need to explore optimal values for this and come up with a good default, and also make this (and any other important knobs) configurable in host.json.

[2019-09-19 08:14] Beungoud commented on #51
Hello,
To go further on this idea, we also need a way to push messages not only to "queues" but also to rabbitMQ "exchange".
Pushing only to queues seems a limitation on the usage of routing keys.

[2019-09-24 08:37] vannicktrinquier opened #68 "Error when working with RabbitMQ queue durable"
Hi,

I have few queues on RabbitMQ that are set with durable at true.
With this settings, i get the following error when executing the Azure Function in local:

[9/24/2019 8:35:15 AM] The following 1 functions are in error:
[9/24/2019 8:35:15 AM] TriggerFunction3: Microsoft.Azure.WebJobs.Host: Error indexing method 'TriggerFunction3'. RabbitMQ.Client: The AMQP operation was interrupted: AMQP close

[2019-09-24 10:52] geekwhocodes commented on #68
It happens because it is hard-coded at https://github.com/Azure/azure-functions-rabbitmq-extension/blob/03bb0393c8d91ae165df0e8de3498db0fbb9acc0/src/Services/RabbitMQService.cs#L63

I am not sure why it's like that.

[2019-09-26 16:41] ianrathbone opened #69 "Support for Header Exchange Trigger"
Hello, thanks for adding official support for RabbitMQ.

Are there any plans to bring in support for Headers Exchange as a trigger instead of using a queue binding?

[2019-09-27 13:52] mciprijanovic opened #70 "RabbitMQTrigger is not working with durable queues"
When trying to connect to durable queue, following error appears:

The AMQP operation was interrupted: AMQP close-reason initiated by peer, code=406, text="PRECONDITION_FAILED - inequivalent arg 'durable' for queue <queue> in vhost <vhost>: received 'false' but current is 'true'", classId=50, methodId=10, cause=.

[2019-09-27 13:54] #70 closed, assigned to nobody

[2019-09-27 13:54] mciprijanovic commented on #70
Sorry, I didn't see it is already reported.

[2019-09-27 15:29] ianrathbone commented on #69
I've now given this a go with the Pull Request: #71

[2019-10-27 08:33] Akshatce opened #72 "Unable to accept message in string or binary dataType"
Got error message while accepting string rather JSON

System.Private.CoreLib: Exception while executing function: Functions.consumer. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'message'. Newtonsoft.Json: Unexpected character encountered while parsing value: O. Path '', line 0, position 0.

In function.json I have mentioned dataType: string. Here is my function.json code.

**In func

[2019-10-30 05:51] kumarshubhu opened #73 "rabbitmq trigger does not have any feature to specify durability to true or false."
[RabbitMQTrigger("Rabbitmq.Model.Message")],
their is no way of specifying durability property of queue to true or false.

 public static class RabbitQueueTrigger
    {

        [FunctionName("RabbitQueueTrigger")]
        public static void Run(
        [RabbitMQTrigger("Rabbitmq.Model.Message")] Email inputMessage,
      ILogger log)
        {
            MailMessage message = new MailMessage();

[2019-10-30 06:34] kumarshubhu commented on #68
are they going to change it any time soon?
if yes it could solve a ton of problems for me.

[2019-10-30 08:29] geekwhocodes commented on #73
Duplicate of issue #68

[2019-10-30 12:56] kumarshubhu commented on #68
It is working with few changes in the extension.

[2019-10-30 19:49] fabiocav commented on #73
Closing this as a duplicate.

[2019-10-30 19:49] #73 closed, assigned to nobody

[2019-10-30 19:50] fabiocav commented on #68
@kumarshubhu if this is in a state where you're comfortable sending a PR, please feel free to do so!

[2019-10-30 19:56] fabiocav commented on #69
FYI @jeffhollan

[2019-10-30 20:11] jeffhollan commented on #69
Yep this comes up often.  Appears to be a different "flavor" of messages from RabbitMQ.  Would love to see this added as well as the feature for "durable" queues which is another issue

[2019-10-30 20:12] jeffhollan commented on #68
@fabiocav this is the other feature request that comes in frequently along with header exchange

[2019-10-31 10:08] kumarshubhu commented on #68
@fabiocav sure

[2019-10-31 15:57] pragnagopa opened #75 "Merge scaling branch to dev and create a release"
cc @gzuber

Tracking item to move release scaling changes

[2019-11-01 13:43] asud-solvve opened #76 "Make queue declaration optional"
Current implementation calls QueueDeclare automatically for RabbitMQTriggerAttribute queue.
I want to manage queues manually.
Could you, please, add some option to disable automatic queue declaration?

[2019-11-03 04:55] ankitvijay commented on #39
Hi guys, wanted to follow up on this and know if there are any updates on this issue. Thanks,

[2019-11-12 09:09] creyke commented on #51
I'm very willing to implement this and open a PR - I just need guidance from the team as to how the meta data of the message should be provided (currently there's just a `byte[]`, so assume there would need to be a parent object of that).

[2019-11-20 19:12] jeffhollan opened #80 "Binding to non-json payload does not work with non-dotnet languages"
When I try to run the app in Python it throws the following after triggering:

[11/20/19 7:07:17 PM] System.Private.CoreLib: Exception while executing function: Functions.RabbitMqTrigger. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'msg'. Newtonsoft.Json: Unexpected character encountered while parsing value: h. Path '', line 0, position 0.

I have a repro of my app here: https://gith

[2019-11-22 17:07] markm9199 opened #81 "Add support for connecting to user defined Virtual Hosts"
If I've understood correctly then this will only connect to queues in the Virtual Host called \

I had to give my user account access to \ and move the queue I was testing with into \ otherwise it would not work.

Are there any plans to extend to user defined Virtual Hosts?

Also, any plans to be able to publish to an Exchange with a routing key rather than directly to a queue?

[2019-12-06 06:23] jeffhollan commented on #72
Can confirm - hit this as well

[2019-12-09 06:43] geekwhocodes commented on #72
This worked for me.

In init.py:

`def main(order) -> str:
    logging.info('Python queue trigger function processed a queue item: %s',
                 order)`

In function.json:

`{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "name": "order",
      "type": "RabbitMQTrigger",
      "direction": "in",
      "queueName": "orders",
      "connection": "RabbitMQConnection"
    }
  ]
}`

[2019-12-11 21:12] fabiocav commented on #75
Closing as completed.

[2019-12-11 21:12] #75 closed, assigned to pragnagopa

[2019-12-11 23:32] chobot2014 opened #82 "Add support to conditionally use this attribute vs another"
We would like to have one function app codebase, one deployed to customers that want their software installed locally (and do not want literally anything to do with azure)  (using kubernetes)

for the other customers, we would like the functions to listen for a QueueTrigger instead.

Can you please help? Thanks!

[2019-12-23 16:15] RobBowman commented on #81
Any update on this please?

[2020-01-03 08:57] RobBowman opened #83 "App Setting for Queue Name"
The samples for triggered bindings illustrate the queue names hard-coded, such as:

`[RabbitMQTrigger("queue", Hostname = "localhost")]`

Is it possible to use a value from the Azure Functions config values instead? This would enable the same RabbitMQ instance to provide queues for multiple test environments; we could have "dev_input_queue", "uat_input_queue" etc.

[2020-01-30 20:15] Evan-Farr commented on #68
Has there been any updates related to this thread? Having the same issue with a durable queue.

[2020-02-21 20:40] gabiciudin opened #85 "Azure function with RabbitMQ trigger not scaling out"
Hi,

I've started working with the RabbitMQ trigger on Premium Azure Functions and I have it working fine, connecting to my RabbitMQ host, grabbing messages, processing them successfully. However, it does not seem to scale out to more than 1 server (although it sometimes starts the function with 2 servers online but eventually scales in to just 1 server). As a POC for serverless, I had my long run

[2020-03-06 03:48] guojian83 commented on #85
Same problem to me here as well. Can this be looked at please?

[2020-03-12 14:46] ashokbasutkar opened #87 "Getting binding type(s) 'rabbitMQTrigger' are not registered. Please ensure the type is correct and the binding extension is installed."
running azure function locally for RabbitMQTrigger, there are no build error , but when the run the function  i am getting bellow error

[3/12/2020 2:38:35 PM] Host started (2560ms)
[3/12/2020 2:38:35 PM] Job host started
[3/12/2020 2:38:35 PM] The 'Function1' function is in error: The binding type(s) 'rabbitMQTrigger' are not registered. Please ensure the type is correct and the binding extension

[2020-03-26 20:03] ewinkiser commented on #39
Hello! Is the Nuget Package ready for this? We would like to use it; this extension is exactly what our requirements call out.
Thanks
@Mike Kiser

[2020-04-14 12:07] litalb commented on #87
Same happens to me. Any updates about that issue?

[2020-04-25 01:37] anirudhgarg commented on #85
Sorry for the super late reply. But can you please try the following set the following property functionsRuntimeScaleMonitoringEnabled to 1. You can do this by using az cli.

az resource update -g <resource_group> -n <function_app_name>/config/web --set properties.functionsRuntimeScaleMonitoringEnabled=1 --resource-type Microsoft.Web/sites

https://docs.microsoft.com/en-us/azure/azure-functions/fu

[2020-04-25 02:10] anirudhgarg commented on #39
Yes it is available now:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.RabbitMQ

Please see this blog post as well:
https://dev.to/azure/announcing-the-rabbitmq-extension-for-azure-functions-2mbo

[2020-04-25 02:10] #39 closed

[2020-04-25 02:11] anirudhgarg commented on #87
Just wanted to make sure that you did indeed install the RabbitMQ extension. It is not available out of the box.

https://dev.to/azure/announcing-the-rabbitmq-extension-for-azure-functions-2mbo

[2020-05-04 19:53] kentonbmax opened #88 "AzureWebJobStorage on baremetal kubernetes question"
Azure Functions 3.0
Dotnet Core 3.1

Currently we are running KEDA and kubernetes on bare metal. My Azure function which uses the rabbitmq trigger does not pick up messages correctly and shows a warning that the AzureWebJobStorage is required for rabbitmq trigger. I have tried setting the env to the defaulted appsettings value but the trigger still does not pickup messages correctly. Is there some

[2020-05-06 12:46] kentonbmax commented on #83
I support this feature request. Is anyone monitoring this repo? I see lots of needs triage.

[2020-05-06 17:04] kentonbmax commented on #88
I wanted to add that we are using EF Core 3.1.2 not sure if this can cause issues.

[2020-05-12 22:04] 0if commented on #49
Is there any updates on this?

[2020-05-12 22:34] 0if commented on #87
I am also facing this issue. I have the package installed.

[2020-05-27 00:58] ianvink opened #89 "Method not found: 'Byte[] RabbitMQ.Client.Events.BasicDeliverEventArgs.get_Body()'."
Hi,

I have hosted RabbitMQ in a Docker container and via a simple Asp.Net Core web site confirmed that I can send messages. The management console confirms.

I have created a simple Azure Function, run locally, but when it connects, it gets the error when the function runs in debug on my dev box:

    Method not found: 'Byte[] RabbitMQ.Client.Events.BasicDeliverEventArgs.get_Body()'.

I do get a

[2020-05-27 01:15] ianvink commented on #89
I found the issue. This project doesn't support **RabbitMQ.Client version 6**.

**FAILS:**

       <PackageReference Include="RabbitMQ.Client" Version="6.0.0" />

**WORKS:**

       <PackageReference Include="RabbitMQ.Client" Version="5.2.0" />

Thanks for a great tools guys

[2020-05-27 01:15] #89 closed, assigned to nobody

[2020-06-16 21:07] ankitkumarr commented on #80
I ran into this with Node as well. It will only work if the payload in the message is a valid JSON.

**Here's why I think this happens:**

The extension attaches converters from `BasicDeliverEventArgs` to `string` and also from `BasicDeliverEventArgs` to any `POCO` ([here](https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Config/RabbitMQExtensionConfigProvider.cs#L63-L67)).

[2020-06-16 21:26] fabiocav commented on #80
@jeffhollan how do you want to prioritize work here?

[2020-06-16 21:29] jeffhollan commented on #80
I think this warrants a fix in the next few weeks assuming we aren’t having to cut a critical fix in another area.  FWIW I think the dapr stuff Connor is working on is impacted by the same behavior and not sure if he already worked around it there too

[2020-06-16 22:22] ankitkumarr commented on #87
Can you share your repro?

Most likely you function apps are using [Extension Bundle](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#extensionbundle), that brings in a collection of extensions and doesn't look at installed ones.

If this is the case, when you open `host.json`, you should see `extensionBundle: ` entry in the JSON. You can remove that JSON entry, and then

[2020-06-17 15:02] pragnagopa commented on #80
@ankitkumarr - thanks for the details. I wonder if there is something we are missing here as other extensions support binding to POCOs as well and work with out-of-proc languages. I will take a look.

[2020-06-18 09:14] ankitkumarr commented on #80
@pragnagopa, most of the other extensions do not use these new interfaces, I think they implement `ITriggerBindingStrategy` and those other types that do not end up executing `TriggerAdapterBindingProvider` in the stack.

The one extension that I know uses the new APIs similar to RabbitMQ is EventGrid. EventGrid payloads are always a valid JSON, so it never runs into this. I tried it locally and s

[2020-06-18 14:40] pragnagopa commented on #80
So we should figure out Option 1 you mentioned above without breaking changes? Otherwise this would continue to be an issue for any "new extension" that will be use 'TriggerAdapterBindingProvider'

[2020-06-18 20:58] ankitkumarr commented on #80
Yes, I agree. I think we'd need to make sure we don't accidentally break any extension, as changing that changes how types may be converted. I only know of EventGrid, but when we do the work, we'd have to verify all extensions that maybe using this code-path continue to work as expected.

[2020-06-21 00:00] ghost commented on #87
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-06-24 00:07] #87 closed, assigned to nobody

[2020-07-09 13:18] taranxd commented on #68
Bump!

[2020-07-21 10:30] sunburntstrat commented on #68
Is this repo dead? There are PRs that have been active for months, including a fix for this issue. Anybody?

[2020-07-22 02:18] fabiocav commented on #68
@sunburntstrat and others. Apologies for the lack of response here. We're going through the triage process in this repo to clear and answer some of the stale issues.

[2020-07-22 14:12] RobBowman commented on #83
It turns out this is supported after all! Thanks to Dan B for pointing this out The queue name param can simply be the name of an Azure Function environment variable wrapped with %s. The value from the environment variable will be substituted e.g.

`[RabbitMQTrigger("%myQueueNameVariable%", Hostname = "localhost")]`

[2020-07-22 14:12] #83 closed, assigned to nobody

[2020-07-22 16:57] ThejaChoudary commented on #76
@asud-solvve  Aplogies for the late reply.
Is this something your still experiencing with the latest version of Azure.

ThankYou  for the patience

[2020-07-23 09:46] ThejaChoudary commented on #81
@markm9199  Apologies for the late reply
Can you please provide us with more info about this to investigate further and also please refer the [link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/dedicated-hosts)  for your guidance.

Thank You for your patience .

[2020-07-23 10:02] ThejaChoudary commented on #82
@chobot2014  Aplogies for the late reply.

Please check the [link1](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp) [link2](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-storage-queue-triggered-function) for the Queue trigger , hope this would be helpful.

Thank You for the patience.

[2020-07-23 10:17] ThejaChoudary commented on #85
@gabiciudin  & @guojian83  Hope  the above reply  is helpfull .Please let us any us know if the issue still persists .Thank You!

[2020-07-23 12:56] markm9199 commented on #81
I don't understand why you have asked me to look at a link to Azure Dedicated Hosts, I think perhaps there is a misunderstanding?

I am talking about a feature of RabbitMQ called Virtual Hosts. It is normal in a large Rabbit MQ installation, to group exchanges and queues using different Virtual Hosts, on the Rabbit MQ. I assume as a rabbit extension developer you are familiar with this concept?

M

[2020-07-23 15:38] fabiocav commented on #76
@jeffhollan FYI for things to track for GA

/cc @pragnagopa

[2020-07-23 16:00] pragnagopa commented on #76
@asud-solvve - We do support binding to the rabbitmq client

Here is an example on how to do that:

https://github.com/Azure/azure-functions-rabbitmq-extension/blob/214497c70e28208022c16acf71bf21fb77721da8/test/WebJobs.Extensions.RabbitMQ.Samples/RabbitMQSamples.cs#L79-L87

Is that what you are looking for?

[2020-07-24 07:59] sunburntstrat commented on #85
@anirudhgarg just started using this library and ran into the same issue - your suggestion worked for me, I was able to see the function app scaling out in a Premium plan.

[2020-07-27 12:01] ghost commented on #85
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 12:01] ghost commented on #82
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 13:21] gabiciudin commented on #85
Hi! I'm unfortunately unable to verify but since @sunburntstrat said it worked for him/her, I'll go ahead and close this issue. Thanks for your help!

[2020-07-27 13:21] #85 closed, assigned to ThejaChoudary

[2020-07-27 15:01] ghost commented on #81
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 16:26] markm9199 commented on #81
@ThejaChoudary any update after my recent comments?

[2020-07-27 18:15] ThejaChoudary commented on #81
@pragnagopa --Can you please take a look .Thank you !

[2020-07-28 16:13] pragnagopa commented on #81
@markm9199  - Thanks for the feature request.

Moved this to Triaged.

[2020-07-30 12:01] #82 closed, assigned to ThejaChoudary

[2020-08-03 16:23] fabiocav commented on #88
@kentonbmax what is the message/log output you're seeing? Can you please share that information and stack details if present?

[2020-08-03 16:26] fabiocav commented on #80
@jeffhollan (and @dariagrigoriu), this has been assigned to triaged but not prioritized. We need some guidance on how to prioritize some of these issues here.

[2020-08-07 18:01] ghost commented on #88
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-08-10 21:01] #88 closed, assigned to nobody

[2020-08-11 07:05] Elthan commented on #76
@pragnagopa Is this also possible to do with the RabbitMQTrigger? I want to bind to a queue with the trigger, but I do not have access to create queues, which results in getting rejected.

[2020-08-11 07:10] Elthan opened #92 "Support for RabbitMQ client 6.+"
Currently the extensions does not work with the Rabbit MQ client versions 6.+

Mainly it needs to be changed to support the change in body, from using byte arrays to ReadOnlyMemory.

[2020-08-18 19:51] pragnagopa commented on #92
Need to investigate if this is breaking change. If yes, major version of the extension needs to be updated to add support for RabbitMQ client >=6.0

[2020-09-01 20:11] Socolin commented on #68
Do you have any ETA for this fix ?

Also does this project still alive ? no commit in months, PR are ignored, documentation is pretty small (No example / sample on how to use this with the Azure functions).

[2020-09-08 23:55] Socolin commented on #9
Hello

I'm not able to scale up my function app on consumption using a RabbitMQ trigger.

1. Does this feature will solve this ?
2. Is this part of azure internal code ? or can we provide logic from the function app for the "Scale Controller" ?
3. If this feature is what missing to get scaling working with consumption plan, do you have any ETA ?

[2020-10-07 12:41] tchoudhu commented on #68
Hi, this is critical we get a fix for this issue ASAP. If we it stays stale like this little longer then we will have to make significant architectural changes in a system we are actively developing and move away from Azure functions. Please provide an ETA.

[2020-10-15 04:26] Socolin commented on #81
This seems to be already possible to use vhosts using connection string like
[code]
But the vhost parameter is missing from `RabbitMQAttribute` when using `HostName` / `UserName` / `Password`

[2020-10-15 05:19] Socolin opened #96 "[Best Practice] Separate connections for publisher and consumer"
See description on this [post](https://www.cloudamqp.com/blog/2017-12-29-part1-rabbitmq-best-practice.html)

The same connection and channel is used for consuming and publishing messages in the RabbitMQListener see here

https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Trigger/RabbitMQListener.cs#L140

. I don't know if this would be a problem since it's only to handle erro

[2020-10-15 22:43] jeffhollan commented on #72
Duplicate of #80

[2020-10-15 22:43] #72 closed, assigned to nobody

[2020-10-15 22:45] jeffhollan commented on #66
The two properties that are important to surface are number of samples and the target queue length (in addition to what @mathewc called out)

[2020-10-15 22:46] jeffhollan commented on #47
Duplicate of #80 and #60

[2020-10-15 22:46] #47 closed

[2020-10-15 22:47] jeffhollan commented on #60
Using custombinding is acceptable here but would need to be documentable, may be easier to just add library support https://github.com/Azure/azure-functions-java-library

[2020-10-15 22:48] jeffhollan opened #97 "Add type in azure-functions python library"
Adding support so you could do like `func.RabbitMQ` for triggers and bindings

[2020-10-15 23:03] jeffhollan opened #98 "Possible message loss on retries"
We should move the ACK until after the message is re-published
https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Trigger/RabbitMQListener.cs#L15

[2020-10-20 14:10] musa-pro commented on #60
Anyone has any luck in java?

[2020-10-20 18:24] jeffhollan opened #99 "Allow configurable concurrency similar to Azure Service Bus"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=csharp#hostjson-settings

Ideally we have a default concurrency of executions happening.  Azure Queues host.json is another example where the underlying provider doesn't have this, but are able to mirror similar functionality

[2020-10-28 23:32] cachai2 commented on #76
@cachai2 for tracking

[2020-10-28 23:35] yojagad opened #105 "Add templates for RabbitMQ"
Tracking issue for adding templates here https://github.com/Azure/azure-functions-templates.

[2020-10-28 23:36] yojagad opened #106 "Add rabbitMQ to extension bundles"
Adding tracking item to add RabbitMQ to extension bundles
https://github.com/Azure/azure-functions-extension-bundles

[2020-11-05 16:14] pragnagopa commented on #60
@jeffhollan  / @fabiocav  - I recommend following the approach for signalr and create Java annotations in this repo.

https://github.com/Azure/azure-functions-signalrservice-extension/tree/master/binding-library/java/src/main/java/com/microsoft/azure/functions/signalr

This allows keeping annotations and c# attributes in sync and can be released independently of azure-function-java-library

[2020-11-05 16:40] pragnagopa commented on #60
cc @cachai2

[2020-11-05 19:09] yojagad opened #109 "Remove creation of non-existing queue, dead letter queue and exchanges."

[2020-11-05 19:30] pragnagopa commented on #109
This is a breaking change. Please add more details in the description - after this change RabbitMQ trigger / bindings will only support existing queues

[2020-11-05 19:44] yojagad commented on #109
With this change, users would have to configure the deadletter exchange and queue as specified here https://www.rabbitmq.com/dlx.html outside of the context of this binding . All rabbitMQ does it reject it with requeue parameter set to false like mentioned https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Trigger/RabbitMQListener.cs#L178 after a specific number of retries.

[2020-11-05 22:38] #109 closed, assigned to yojagad

[2020-11-05 23:50] yojagad opened #110 "Bringing converters to TriggerBindingRule"
- RabbitMQExtensionBindingConfigProvider binds using pattern `triggerRule.BindToTrigger` instead of `triggerRule.BindToTrigger<BasicDeliverEventArgs>` .

- The former does not fire up converters, so worked around that by using a ValueProvider that takes in a destinationType and does conversions accordingly.

- The latter pattern works fine for dotnet scenarios but for out-of-proc, it messes up the

[2020-11-10 22:45] yojagad opened #112 "[Java] Add integration test to ensure java annotations generate the right function.json"
Need to add test to ensure mvn generates the right function.json with the right input and output bindings from the annotations.

[2020-11-12 18:30] #80 closed, assigned to yojagad

[2020-11-12 18:55] yojagad commented on #76
Closing this since we removed the ability to create queue as part of extension that was tracked here #109

[2020-11-12 18:55] #76 closed, assigned to ThejaChoudary

[2020-11-12 20:36] cachai2 opened #113 "Scale Controller for Consumption"
If GA triggers without consumption support, might create more support issues from people trying to use with consumption. Either need clear errors saying it's not supported or do scale controller work.

[2020-11-17 23:15] yojagad opened #116 "Document default values"
Although PrefetchCount is configurable now, the default for this needs to be documented

https://github.com/Azure/azure-functions-rabbitmq-extension/pull/114

cc: @cachai2

[2020-11-17 23:16] yojagad opened #117 "Figure out optimal value for PrefetchCount"
It defaults to 30 right now and is configurable (https://github.com/Azure/azure-functions-rabbitmq-extension/pull/114). Need to figure out a way to have an optimized default based on tests, etc.

[2020-11-17 23:30] yojagad opened #118 "Make ScaleOptions configurable"
Right now we have NumberOfSamplesToConsider defaulting to 5 and TargetQueueLength at 100 and these aren't configurable. Even if we do make this configurable, these values applies only to runtime driven scaling and customers on consumption plan might get confused. Might need to figure out a way to consistently introduce this to all extensions including RabbitMQ.

cc: @mathewc @pragnagopa @cachai2 @

[2020-11-18 00:59] yojagad commented on #106
Chatted with @soninaren and there are no plans to do preview-bundles. Extensions right now are added only after they're GA. Will add RabbitMQ after it's GA.

cc: @cachai2 @pragnagopa

[2020-11-18 01:21] soninaren commented on #106
cc: @fabiocav

[2020-11-18 15:54] ryangies opened #119 "Message headers not available to node trigger functions"
The `context.bindingData.basicProperties` is coming across as its class name instead of its object data (as expected). Because of this, node workers don't have access to the message `basicProperties.headers`.

Node trigger function:

[code]

Output:

[code]

Comparable trigger for dotnet (which works correctly):

[code]

Output

[code]

Setup notes

* v3.x of Core Tools
* .NET Core 3.1 SDK

[2020-11-18 18:30] #99 closed, assigned to yojagad

[2020-11-18 19:22] yojagad commented on #98
Fixed by https://github.com/Azure/azure-functions-rabbitmq-extension/pull/114

[2020-11-18 19:22] #98 closed, assigned to yojagad

[2020-11-18 20:56] yojagad commented on #51
I think the way to go about about this would be, instead of introducing a custom wrapper like in the PR here https://github.com/Azure/azure-functions-rabbitmq-extension/pull/77, actually add support for `IAsyncCollector<BasicDeliverEventArgs>` along with introducing the respective converters for

- Converting from string to BasicDeliverEventArgs (replacing the existing converter from string to byt

[2020-11-18 22:21] sdgomez opened #120 "The function doesn't consume messages."
Hi guys,
I'm trying to consume a message from RabbitMQ in an Azure Function which was created in NodeJs. I installed the  extension for  RabbitMQ in this manner:

- First, I installed .net on Linux like this:

        https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004-

- Later:

`sudo func extensions install --package Microsoft.Azure.WebJobs.Extensions.RabbitMQ --version 0.2.2

[2020-11-25 00:21] pragnagopa commented on #106
I recommend tracking this item for GA. Without bundles, out-of-proc languages will include `bin` folder and `.csproj` when developing locally - We have received feedback in the past that `.csproj` and `bin` folder  is not native for non-dotnet functions

[2020-11-25 00:35] cachai2 commented on #113
@fabiocav Removing 'ga-must-have' label as you discussed with Yogesh. Note for context: Most RabbitMQ customers are on premium plans and won't run into a scale controller issue.

[2020-11-25 00:40] yojagad commented on #60
version 1.0.0-beta of azure-functions-java-library-rabbitmq is released to maven.

[2020-11-25 00:40] #60 closed

[2020-11-26 00:04] #105 closed, assigned to yojagad

[2020-11-26 13:37] sbobkin opened #132 "Consumption plan function won't consume message after timeout"
Hi,

I have a v3 runtime, Windows hosting, consumption plan function that uses this binding. It consumes messages correctly if the app is "active", however, it looks like if the function runtime period expires the function will no longer consume messages from a queue.

If you load the function monitor or other page in Azure portal that seems to trigger the app pool to activate, then it will proces

[2020-12-01 19:02] yojagad commented on #132
Thanks for the query. This extension is currently not supported for consumption plan and is only supported on dedicated and premium plans.

[2020-12-01 19:02] #132 closed, assigned to nobody

[2020-12-01 19:05] yojagad commented on #120
Hello, the connectionStringSetting should be the name of an app setting (which is in local.settings.json if you're running this locally) which in turn should have connection string specified in the screenshot.

If you tried the above suggestion and if it still doesn't work, please feel free to re-open this issue.

[2020-12-01 19:05] #120 closed, assigned to nobody

[2020-12-02 22:35] yojagad commented on #106
This has been added to both linux and windows and is in the process of being deployed.

[2020-12-02 22:35] #106 closed, assigned to yojagad

[2020-12-02 22:39] yojagad opened #133 "Add OGF tests for RabbitMQ"
Have the tests run against local container instance
https://www.rabbitmq.com/download.html

[2020-12-02 22:43] yojagad opened #134 "MVN templates for RabbitMQ"
Related issue:
https://github.com/microsoft/azure-maven-plugins/issues/1197

[2020-12-02 22:43] cachai2 commented on #116
https://github.com/MicrosoftDocs/azure-docs/issues/67044

[2020-12-02 22:45] yojagad opened #135 "Add Samples for java in the wiki"

[2020-12-02 23:15] yojagad commented on #51
Other points from further discussion

- As publish method does not take `BasicDeliverEventArgs` directly, we therefore do not have a mechanism to expose this as part of output binding. Reference line https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Bindings/RabbitMQAsyncCollector.cs#L33

We will revisit this feature ask when the underlying SDK supports publishing to queue w

[2020-12-03 00:23] yojagad opened #136 "Add detector for RabbitMQ trying to run in consumption"

[2020-12-08 03:34] gabesmsft opened #137 "Clarification needed in documentation about the ConnectionStringSetting binding"
The doc found here suggests that the ConnectionStringSetting binding is not necessary:
[https://github.com/Azure/azure-functions-rabbitmq-extension/wiki/Developing-and-Testing-Locally](https://github.com/Azure/azure-functions-rabbitmq-extension/wiki/Developing-and-Testing-Locally)

What appears to be more accurate is that if you are using a local RabbitMQ instance listening on the loopback address

[2020-12-08 06:07] gabesmsft opened #138 "1.0.0-beta extension appears to break the DeadLetterExchangeName binding"
1.0.0-beta extension appears to break the DeadLetterExchangeName binding.
Am using the example posted here:
[https://github.com/Azure/azure-functions-rabbitmq-extension/wiki/Configuring-a-Dead-Letter-Exchange-and-Queue](https://github.com/Azure/azure-functions-rabbitmq-extension/wiki/Configuring-a-Dead-Letter-Exchange-and-Queue)

[code]

Attempting to resolve this type gives the following error:

[2020-12-08 20:34] gabesmsft commented on #138
full repro found here: [https://github.com/gabesmsft/RabbitMQFunctions/tree/100BetaAndDLX/GabeFakeRabbitMQFunction](https://github.com/gabesmsft/RabbitMQFunctions/tree/100BetaAndDLX/GabeFakeRabbitMQFunction)

[2020-12-08 20:56] gabesmsft commented on #138
Sorry I missed that this was an intentional breaking change: https://github.com/Azure/azure-functions-rabbitmq-extension/releases/tag/v1.0.0-beta

[2020-12-08 20:57] #138 closed, assigned to nobody

[2020-12-10 17:05] RadekKapica opened #139 "Add possibility to bind queueName in RabbitMQTriggerAttribute to Environment variable"
As for today you need a constant when specifying the queueName for the RabbitMQTrigger, to make more flexible Azure Functions it would be great if it was possible to "bind" the queueName to a Environment variable similarly to the connectionString.

[2020-12-10 18:53] yojagad commented on #136
Detector was published as internal only a few days ago.

[2020-12-10 19:29] #136 closed, assigned to yojagad

[2020-12-10 19:29] yojagad commented on #135
Added samples for java.

[2020-12-10 19:29] #135 closed, assigned to yojagad

[2020-12-10 21:50] yojagad opened #140 "Detector for bundles used in linux"
Temporary detector workaround until bundles are deployed in linux.

[2020-12-11 02:19] gabesmsft opened #141 "Clarification about the UserName, Password, and HostName binding properties"
It would be helpful to make some clarifications about the UserName, Password, and HostName binding properties in the following doc:
[https://github.com/Azure/azure-functions-rabbitmq-extension/](https://github.com/Azure/azure-functions-rabbitmq-extension/)

For example, the UserName and Password properties need to reference app settings instead of directly referencing values or using %%. Eg: **Use

[2020-12-11 19:53] gabesmsft commented on #141
Update about using HostName, UserNameSetting, and PasswordSetting in a Trigger binding:
These will work if you do either of the following:
a) Hard-code the values. Eg:
HostName = "MyValidHostName", UserNameSetting = "MyValidUserName", PasswordSetting ="MyValidPassword"
b) Use %% around the app setting name references. Eg:
HostName = "%HostNameAppSetting%", UserNameSetting = "%UserNameAppSetting%",

[2020-12-11 20:27] gabesmsft commented on #141
Additional note: I notice that ConnectionStringSetting takes precedence over HostName, etc, so might be one more thing to call out in the doc.

[2020-12-16 20:49] yojagad opened #142 "Consistency between trigger and binding"
- Trigger has `UserNameSetting` and `PasswordSetting` whereas binding has `UserName` and `Password`. These need to be consistent.

- Trigger expects the app setting name to be within "%%" if it's an app setting, whereas "%%" does not work with an output binding (it expects the app setting directly). https://github.com/Azure/azure-functions-rabbitmq-extension/blob/dev/src/Trigger/RabbitMQTriggerAtt

[2020-12-17 21:18] yojagad commented on #139
This is actually possible. In your trigger definition, instead of the queueName, please specify the setting name in the following format.

`"%RabbitMQQueueNameSetting%"`

Please feel free to reopen this issue if you have any more questions about this.

[2020-12-17 21:18] #139 closed, assigned to nobody

[2020-12-21 23:25] musa-pro opened #145 "RabbitMQTrigger error in Java function app"
Hi,
 I'm trying to use `RabbitMQTrigger ` annotation in a Azure Java Function App, When I run the function I see an error which says
[code]

I'm running the function from Intellij editor(i've Azure toolkit for intellij plugin installed), I've following setup -
[code]
This is the host.json configuration
[code]
I've added maven dependencies already -
[code]

What am I missing? Appreciate any respons

[2020-12-22 15:47] musa-pro commented on #145
I've updated the host file as below that solves the problem for me -
[code]

[2020-12-22 15:47] #145 closed, assigned to nobody

[2020-12-23 01:33] danspark commented on #113
Are there any plans to support consumption plans? Docs don't make it clear if it's planned or not.

[2020-12-31 17:24] gabesmsft commented on #141
[docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-rabbitmq) are updated with further info about the binding properties

[2020-12-31 17:24] #141 closed, assigned to nobody

[2020-12-31 17:25] #137 closed, assigned to nobody

[2020-12-31 17:28] gabesmsft commented on #137
[Docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-rabbitmq) are updated and cover this.

[2021-01-06 18:47] yojagad commented on #140
Bundles deployed for linux so this is not needed.

[2021-01-06 18:47] #140 closed, assigned to yojagad

[2021-01-19 22:06] cachai2 commented on #133
@yojagad to define what OGF tests are needed and scenarios, so we can track individually.

[2021-01-19 22:08] cachai2 commented on #97
@yojagad

[2021-01-19 22:13] cachai2 commented on #92
Reevaluate in Nickel. Update with attribute consistency

[2021-01-19 22:15] cachai2 commented on #81
@yojagad to investigate

[2021-01-19 22:16] cachai2 commented on #69
Needs further investigation

[2021-01-19 22:23] cachai2 commented on #51
Blocked. There is no current API to leverage

[2021-01-19 22:45] Socolin commented on #81
@cachai2  there is already a pull request here (got closed by the bot...) but I fixed last reviews so it should be ready now. https://github.com/Azure/azure-functions-rabbitmq-extension/pull/95

[2021-01-20 14:48] basilfx opened #148 "Many connections opened for IModel"
I'm using the code below, based on the examples in the wiki. It is an Azure Function V3 function, using .NET Core 3.1. I'm running this locally.

Whenever I run this, I notice that I have a lot of open connections, up to a point where I'm running out of connections and the application stalls. The RabbitMQ Management Interface shows all these connections as well, and they all disappear when I kill

[2021-02-02 20:17] Socolin commented on #148
I confirm the problem I just experimented this after deploying a new version of our app in production.

This is blocking our deployment, could you please fix this soon ?

@jeffhollan This project seems dead again can we expect a fix soon ? or should I found another way to fix this on my own ?

[2021-02-04 21:39] yojagad commented on #148
Thanks for reporting. I'll take a look at this and possibly send a fix

[2021-02-15 20:40] SurushS opened #150 "Missing access to add properties on IAsyncCollector<>"
Browsing through the code i saw that with Triggers you have access to the IBasicProperties and the Headers that are available in there. However, if  you want an Azure Function where you output again to another queue, there is currently no way to add properties or headers it seems. Is it possible to add an overload on the AddAsync method on the IAsyncCollector<> ?

[2021-02-16 16:13] kentonbmax opened #151 "Question: How do I manually Ack a message in dotnet core?"
User Case: an EF error/timeout occurs while executing my function. Any other error occurs, I do not want to loose the message. Therefore I want to only manually Ack messages that have been successfully processed.

[2021-02-17 21:19] fabiocav commented on #148
@yojagad is there an update on this? should this be moved?

[2021-02-18 18:48] #148 closed, assigned to yojagad

[2021-02-23 15:17] Socolin opened #154 "Error: Pipelining of requests forbidden when getting metrics"
Hello,

When a function is running at the same time as the metric collector I get this exception: `Pipelining of requests forbidden`
of type `System.NotSupportedException at RabbitMQ.Client.Impl.RpcContinuationQueue.Enqueue`

The problem is that the same channel is used in different thread, this is not supported by RabbitMQ librar. Iit should use another `IModel` to do that.
https://github.com/Azu

[2021-02-24 07:30] yojagad commented on #150
This will be supported when this is unblocked (#51) . In other words, this and the other issue pointed out will be revisited when the underlying SDK supports publishing BasicDeliverEventArgs directly rather than individual properties on them. Closing this issue, please keep an eye on that one for updates.

[2021-02-24 07:30] #150 closed, assigned to nobody

[2021-02-25 23:35] yojagad commented on #151
Needs some design exploration. Probably needs an approach similar to service bus where customers can specify messageHandlingOptions like below

[code]

[2021-02-25 23:40] yojagad commented on #154
Can you elaborate on this a little bit more ?  Do you get the `IModel` object(_rabbitMqModel) from a different function using `RabbitMQ` binding and use the same in `GetMetricsAsync()` ?

[2021-02-26 12:23] Socolin commented on #154
I don't gent anything, the current code reuse the same IModel for evrything, for getting the metrics, for consuming and for publishing. It should use one IModel / thread and even use 2 connections (one for publish, one for consumemer)

https://www.cloudamqp.com/blog/2017-12-29-part1-rabbitmq-best-practice.html#don%E2%80%99t-share-channels-between-threads

[2021-02-26 20:14] yojagad commented on #154
Thanks for clarifying that. Aside from our current implementation of IScaleMonitor and GetMetricsAsync(), can I get more info on what your function actually does as well, including the signature, etc ? This will help me narrow down on a plausible solution and also run some scenarios on our end.

[2021-03-02 15:23] kentonbmax opened #155 "When will you fully support dotnet 3.1?"
I see your using a version of the RabbitMQ client 5.1.2, that if I'm not mistaken is not compatible with dotnet core 2.2? This is assuming this table is accurate. https://docs.microsoft.com/en-us/dotnet/standard/net-standard

Quick check of the dependencies for this nuget version indicates net standard 1.5.

[2021-03-02 21:00] ghost commented on #154
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-03-02 22:26] Socolin commented on #154
I'm using 2 trigger function, one of them with a dead letter queue

[2021-03-07 15:27] LZorglub opened #156 "Can you add support for amqps ?"
Will be very helpfull to be able to provide ssl options in RabbitMQOptions like :
[code]

or better by providing the certificate collection.
[code]

[2021-03-13 09:56] Icidis opened #157 "RabbitMQ connections not closing"
Good day,

I currently have an Azure Function running on a **dedicated** Azure App Service Plan using this extension along with a blob trigger as shown below.

**NuGet Package**
[code]
**Function**
[code]

The azure function runs, publishes the message(s) but when looking at the process explorer and RabbitMQ management console I see the connections are still open after execution has completed.

I'

[2021-03-23 04:29] abhishek-loyalytics opened #159 "RabbitMq Connection Reset Issue"
Unhandled exception. RabbitMQ.Client.Exceptions.AlreadyClosedException: Already closed: The AMQP operation was interrupted: AMQP close-reason, initiated by Library, code=541, text='Unexpected Exception', classId=0, methodId=0, cause=System.IO.IOException: Unable to read data from the transport connection: Connection reset by peer.
 ---> System.Net.Sockets.SocketException (104): Connection reset by

[2021-03-24 14:37] pragnagopa opened #160 "Publish 1.0.0 package to maven"

[2021-03-26 17:45] yojagad commented on #160
Publish to mvn completed https://mvnrepository.com/artifact/com.microsoft.azure.functions/azure-functions-java-library-rabbitmq

[2021-03-26 17:45] #160 closed, assigned to yojagad

[2021-06-04 10:47] bacobart commented on #92
I tried to use this library in combination with MassTransit (like it works together with ServiceBus, https://masstransit-project.com/usage/transports/azure-sb.html ) and ran into exactly the mentioned issue regarding byte arrays vs ReadOnlyMemory. Until this library is updated to RabbitMQ.Client 6.x it will not be possible to use it together with MassTransit.

[2021-06-14 21:14] sherzberg commented on #157
We are seeing this same issue. Any updates on addressing this? I see the open PR, but not many comments recently.

[2021-06-30 09:26] basilfx opened #165 "Question: DLX not working for exchange-routed messages?"
I have set-up DLX according to https://www.rabbitmq.com/dlx.html.

My functions listen to a queue. Messages are routed from an exchange to a (direct) queue, using a binding without a routing key.  I noticed that messages routed via exchanges are not republished, and therefore not republished and thus not dead-lettered. Messages published directly to a queue work just fine, but that does not work f

[2021-07-27 02:00] stewarthou-jb commented on #165
Yes, we are facing the same issue, because in that line, the publish exchange is set to `""`, which means default exchange, and the `RoutingKey` will be used as destination queue name.
In you case, it's an empty string, probably goes to a blackhole.

If you do want the message be sent back to the same queue, you could just manually set the `RoutingKey` of `BasicDeliverEventArgs` to be the same as

[2021-08-18 14:27] fdipuma opened #166 "Function indexing fails when endpoint is not reachable even when function is disabled"
Hello!

I've got two functions (with different input bindings) both for RabbitMQ and Azure Service Bus, and I aim to enable/disable the bindings based on where the function is deployed, e.g.:

- When the function is deployed in production on consumption plan, disable RabbitMQ trigger and enable Azure Service Bus
- When testing locally, enable RabbitMQ and disable ASB
- When on Premium plan, enable

[2021-08-26 15:03] kentonbmax commented on #81
Can someone please confirm this is implemented and working? it seems specifying in the uri does not work. in v1.0.0

[2021-08-26 15:54] Socolin commented on #81
This repository seems dead, this feature **is not available** yet, my PR was close by the bot after I fixed requested change and nobody have looked for it since january.

@jeffhollan Could you give us an ETA when this feature will be finally available. More generally when will we be able to use this extension without having to apply custom patch ? It' s documented as an available feature https://d

[2021-08-30 12:33] bandmask commented on #92
What is status on this?

[2021-10-11 14:56] kshyju opened #173 "Message properties are not being sent in GRPC payload to out of process worker due to bug in RabbitMQ.Client 5.1.2"
When a producer sends a message with message properties, it is not being sent to the out-of-process worker, instead the type name string is being sent.

**Version:** WebJobs.Extensions.RabbitMQ version 1.1.0

_Note: This is not a code bug in the rabbitmq-extension, but a bug in the RabbitMQ.Client version 5.1.2, which we are using for WebJobs.Extensions.RabbitMQ 1.1.0_

#### Repro steps
1. Create

[2021-10-12 17:28] kshyju commented on #173
cc @pragnagopa @yojagad

[2021-10-12 18:48] pragnagopa commented on #173
cc @JatinSanghvi @lpapudippu

[2021-10-27 14:55] JatinSanghvi commented on #155
Hi @kentonbmax , can you clarify further on this issue? Are you asking to reference a higher version of RabbitMQ client in the project?

According to https://www.nuget.org/packages/RabbitMQ.Client/5.1.2, the client package contains libraries for three .NET versions, including .NET Standard 1.5 and 2.0. The main project in this repo gets built with .NET Standard 2.0 version of RabbitMQ client since

[2021-11-09 11:22] DavidRobinsonDk commented on #151
This seems like a "must have" feature.
Queue handling without the possibility of abandoned messages with re-sends, doesn't really seem like queue handling. More sort of like "spray and pray" IMHO.

[2021-11-15 23:16] kshyju commented on #173
@JatinSanghvi Any update on the progress of this fix?

[2021-11-16 03:11] JatinSanghvi commented on #173
@kshyju, was busy with other tasks. I will work on this one with priority starting 11/18.

[2021-11-25 15:02] Cogax commented on #89
I have the same problem. For me, this is still a bug, as we can define the version more specific, as stated here https://docs.microsoft.com/en-us/nuget/concepts/package-versioning.

[2021-11-25 15:11] Cogax commented on #92
Related: https://github.com/Azure/azure-functions-rabbitmq-extension/issues/89

[2021-12-29 15:22] Blackleones commented on #166
Same problem using Azure Function V4 in-process. Is there any news about this issue?

sample code

[code]

local.settings.json
[code]

[2022-01-04 15:36] srobertson72 commented on #166
I have tried the exact same use case (trying to switch between RabbitMQ for local and Azure Service Bus for hosted deployment) and have found the same issue......Any news on this issue?

[2022-01-08 05:25] JatinSanghvi commented on #110
Hi @yojagad, is this issue created to replace `triggerRule.BindToTrigger` with `triggerRule.BindToTrigger<BasicDeliverEventArgs>`? Was there a reason for why the code has non-generic `BindTrigger` right now?

[2022-01-11 13:30] Plaashond opened #177 "No Option to add Client Provided Name"
In the ConnectionFactory factory = new ConnectionFactory(); on the official .net C# version you can specify Client-Provided Connection Name. This would be a useful enhancement as it would allow me to specify more information to the RabbitMQ Dashboard to identify unwanted connections while testing.
Bellow is the official example from RabbitMq documentation.

[code]

[2022-01-14 08:23] #173 closed, assigned to nobody

[2022-01-29 07:11] JatinSanghvi commented on #89
@Cogax, I do not think that additional reference to `RabbitMQ.Client` package would be required in the Azure Functions project. The RabbitMQ client assembly should get added to the project-output folder automatically with the extension, since it's set as [dependency in the NuGet package](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.RabbitMQ/1.1.0#dependencies-tab). For example

[2022-01-29 07:31] #92 closed, assigned to nobody

[2022-01-29 12:44] JatinSanghvi commented on #142
Assigned to myself. Good candidate for next major release.

[2022-01-29 23:56] JosephG3001 commented on #32
Any update on this?  Would like to set Persistent=true.

[2022-02-01 06:47] JatinSanghvi commented on #157
Apologies for not looking on the issue and PR earlier. I am using build from latest RabbitMQ source, but unable to reproduce the issue. Here's my function (not an Azure Function) that uses output binding similar to the one mentioned in issue descriptions.

[code]

After running for 5 minutes, I am still seeing just 1 connection on RabbitMQ management page.

[2022-02-05 09:01] ghost commented on #157
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-11 20:08] corcorpj opened #183 "Output Null Reference Exception, Rabbitmq Restart"
Hello,
I am testing Azure Functions with Rabbitmq integration, and am running into a scenario with unexpected behavior on Output. My function uses the Rabbitmq Trigger to dequeue and process data, then enqueues it to a different rabbitmq queue - hosted on the same rabbit instance.

Behavior:
When the Rabbit service is restarted, it appears that the function reconnects; and inbound triggers fire co

[2022-02-14 05:16] JatinSanghvi commented on #173
Verified that for out-of-proc Function app,:

`context.BindingContext.BindingData.TryGetValue("BasicProperties", out var basicProperties);` outputs:
- `RabbitMQ.Client.Framing.BasicProperties` without fix.
- `{"ContentType":null,"ContentEncoding":null,"Headers":{"hname":"aHZhbHVl"},"DeliveryMode":1,"Priority":0,"CorrelationId":null,"ReplyTo":null,"Expiration":null,"MessageId":null,"Timestamp":{"Un

[2022-02-16 04:57] Icidis commented on #157
Hi @JatinSanghvi,

You test case you mentioned above does not test the issue, the Azure Function is linked to a directory trigger and because there are so many events happening x amount of azure functions run in parallel to fulfill the triggered events.  We have noticed that the connections never close.

We have been running our modified version now for months and haven't seen any issues.

Happy t

[2022-02-17 03:21] JatinSanghvi commented on #157
Thanks, I will try reproducing the issue by invoking several triggers simultaneously. I should add an update here and reopen #158 accordingly in beginning of next week.

[2022-02-17 22:53] corcorpj commented on #183
FWIW - tested this a number of ways, this is still an issue.

[2022-02-18 10:06] JatinSanghvi commented on #81
As mentioned in https://github.com/Azure/azure-functions-rabbitmq-extension/issues/81#issuecomment-708888734, connection strings support virtual hosts already. RabbitMQ v2.x will remove support for individual connection elements. Currently we have `enableSsl`, `host`, `port`, `username` and `password` properties. Since the issue only existed when user passes individual connection fields instead of

[2022-02-18 10:06] #81 closed, assigned to JatinSanghvi

[2022-02-18 10:14] JatinSanghvi commented on #142
On seeing that more connection fields (enableSsl and vHost) had to be introduced in v2.x, it is decided to only support RabbitMQ connection URI in trigger and output bindings. We would be removing userName and password fields. This will make the question to bring consistency between them as irrelevant.

[2022-02-18 10:14] #142 closed, assigned to JatinSanghvi

[2022-02-18 10:36] JatinSanghvi commented on #5
Closing the issue. Input bindings make sense only for tabular or file-based resources, which allow users to pick an item, say by the item's path. This is not possible for resources of messaging type like RabbitMQ.

[2022-02-18 10:36] #5 closed

[2022-02-18 10:43] JatinSanghvi commented on #8
@v-shenoy, can you do this? KEDA supports [scaling based on RabbitMQ queue length](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda#supported-triggers-in-keda). No need to test with latest source code of RabbitMQ extension. I don't think v4 core tools provides RabbitMQ trigger template, so you can use https://github.com/JatinSanghvi/rabbitmq-functionapp instead to g

[2022-02-18 10:53] JatinSanghvi commented on #46
I think just counting the queue lengths covers all situations. If the average time for processing a message becomes more than the average time interval between messages arriving to the queue, the queue size will start increasing and soon, that will trigger scaling out of the Function app. Let me know if I am not getting something and if there is an example scenario that counters my assumption.

[2022-02-18 11:13] JatinSanghvi commented on #116
Prefetch count's default value is documented now. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-rabbitmq-trigger?tabs=csharp#hostjson-settings

[2022-02-18 11:13] #116 closed, assigned to nobody

[2022-02-18 11:19] JatinSanghvi commented on #134
This one is addressed by https://github.com/microsoft/azure-maven-plugins/pull/1393/files

[2022-02-18 11:19] #134 closed, assigned to nobody

[2022-02-18 11:21] #155 closed, assigned to nobody

[2022-02-18 11:25] JatinSanghvi commented on #155
RabbitMQ client version was upgrade to 6.2.2 in #174. The extension (before and now) should be able to support most version of .NET applications including 3.1 and 6.0.

[2022-02-21 04:55] JatinSanghvi commented on #156
Adding few points on the old issue: The first two properties (Ssl.Enabled and Ssl.ServerName) will get set automatically once we use connection string starting with `amqps://` ([code reference](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/389819a82b9c77811da96db586c811853ec99b14/projects/RabbitMQ.Client/client/api/ConnectionFactory.cs#L553-L567)).

Regarding providing a way to supply ce

[2022-02-21 06:17] v-shenoy commented on #8
Yes, I'll take this up. @JatinSanghvi

[2022-02-21 11:13] JatinSanghvi commented on #46
Closing the issue. We can create a new one if we ever find that the queue length exclusively is not the right choice for scaling decision for any situation.

[2022-02-21 11:13] #46 closed

[2022-02-25 06:01] JatinSanghvi commented on #46
Afterthought: Message rate based scaling will be helpful if we have to react quickly to burst of incoming messages, rather than waiting for queue length to hit the threshold.

[2022-02-28 09:30] v-shenoy commented on #8
Created a RabbitMQ function app using core tools and then deployed it to an AKS cluster with KEDA using the following command,
`func kubernetes deploy --name <name> --image-name <image> --pull-secret <secret-name>`

The command fetches the required information from `local.settings.json` and creates the secrets, deployment and the scaled object. The created ScaledObject uses the default metadata th

[2022-03-17 21:56] aaguilartablada opened #191 "Code deleted after reorganizing code"
Hello @JatinSanghvi.

After the last code refactor you have deleted code included in the pull request https://github.com/Azure/azure-functions-rabbitmq-extension/pull/178

It's very important defining connectionFactory.Ssl as I suggested you in mentioned PR:

[code]

With your changes, you don't allow configuring SSL while verifying the server certificate, which is incorrect. The developer needs t

[2022-03-18 17:12] JatinSanghvi commented on #191
Hi @aaguilartablada , the connection string is enough to dictate whether SSL is enabled or not (See [here](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/d4b49cf9ffc2959398c499884a04e0fc333dc2af/projects/RabbitMQ.Client/client/api/ConnectionFactory.cs#L566-L568)). Also, the `ServerName` is always set to hostname by the RabbitMQ .NET client (See [here](https://github.com/rabbitmq/rabbitmq-

[2022-03-22 09:24] aaguilartablada commented on #191
I guess it was introduced in a new version, as I tested with client v4 and SSL wasn't activated if you didn't indicate explicitly. Thanks for the info.

[2022-03-22 10:39] #191 closed, assigned to nobody

[2022-04-20 20:32] kedar-rao commented on #87
I had the same issue and fixed it by adding this to my local.settings.json

  "extensionBundle": {
    "id": "Microsoft.Azure.Functions.ExtensionBundle",
    "version": "[3.3.0, 4.0.0)"
  }

[2022-05-24 22:02] sherzberg opened #195 "Function disabled if connection to rabbitmq cannot be made on startup"
This may be more of a question for the function worker or function host repos, but I thought I would start here.

When starting a function (we run the dotnet isolated functions), if the rabbitmq client cannot make a connection, the function gets disabled and the function host continues to run:

[code]

Is there a way to configure retries on initializing the functions in the function host? Or are t

[2022-05-25 09:50] JatinSanghvi commented on #195
Hi @sherzberg, RabbitMQ extension tries to open channel with the RabbitMQ service at the time the methods are being indexed. I get that the suggestion is to add retries inside the extension code if the opening up of the channel fails. Can you share the reason that led to the connection failure, for example, was it a network issue? If possible and if RabbitMQ client allows it, we would like to retr

[2022-05-25 12:19] sherzberg commented on #195
@JatinSanghvi in our case, rabbitmq was started or restarted roughly the same time as our function and was not accepting connections when the function initialized, but I could see any temporary network issue causing this as well.

It does seem that if the function gets initialized properly (rabbitmq was available during initialization) and the function loses connection to rabbitmq it does attempt

[2022-06-02 12:53] madev4cloud opened #196 "RabbitMQTrigger not working with on-premises RabbitMQ and Azure Function Hybrid Connection"
Environment:
.net 6
RabbitMQ installed in my laptop.
Azure Function hosted in Basic App Service Plan.
Hybrid Connection set up in my laptop and connected.

Cases:
When [RabbitMQTrigger] is used nothing happen. Message stays in queue.
When [TimeTrigger] is used with RabbitMQ.Client.ConnectionFactory and consumer.Received even - it works. Messages pick up by Function.

But nice to have [RabbitMQTrig

[2022-06-13 16:57] magnayn opened #197 "Headers?"
With Azure, I can use IAsyncCollector<ServiceBusMessage> and ServiceBusReceivedMessage[] in my functions in order to get access to the message headers.

This is important to extract metadata.

How is this achieved with the RabbitMQ binding?

[2022-06-14 07:43] JatinSanghvi commented on #197
Can you try this? Bind the RabbitMQTrigger to `BasicDeliverEventArgs` type as in [here](https://github.com/Azure/azure-functions-rabbitmq-extension/blob/e100c191fc442abe02b611643d032789714763d3/extension/WebJobs.Extensions.RabbitMQ.Samples/RabbitMQSamples.cs#L96-L98). Then look for headers under `args.BasicProperties.Headers`.

[2022-06-14 08:03] magnayn commented on #197
That works great!

Is there an equivalent for sending? We have been using (for ServiceBus)
IAsyncCollector<ServiceBusMessage> ?

On Tue, Jun 14, 2022 at 8:44 AM Jatin Sanghvi ***@***.***>
wrote:

[2022-06-23 05:58] ielcoro commented on #156
What would be great is to specify a certificate thumbprint and password to an configured app service certificate. Also a keyvault reference could do the job.

[2022-06-24 10:57] JatinSanghvi commented on #197
Hi, I had a suggestion but did not get time try it out myself earlier. Here is what is possible:

[code]

[2022-06-28 08:29] #197 closed, assigned to nobody

[2022-07-14 14:44] t-manyadav opened #203 "Changes required for distributed tracing instrumentation"
There are few changes required/remaining for distributed tracing instrumentation: #201
- Activity name should not be "Trigger" instead we can use Function app name.
- Need to add custom properties tag for created activity, so that we can have more metadata about activity.

[2022-07-15 05:08] JatinSanghvi commented on #203
@t-manyadav - Can you explain or share a link that explains what custom properties are?

[2022-07-25 19:04] microsoft-github-policy-service[bot] opened #205 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-07-25 19:57] #205 closed, assigned to nobody

[2022-07-28 14:59] steveb85 commented on #151
did this ever get worked on?

[2022-08-10 11:29] michaeltg17 opened #206 "RabbitMQAsyncCollector.AddAsync only adds to publish the body, not the properties"
Hi.

The parameter "message" in method "RabbitMQAsyncCollector.AddAsync" recieves the full BasicDeliverEventArgs object as ReadOnlyMemory<byte>, converted from the class PocoToBytesConverter. In the message, we have the BasicProperties, but this method is adding all the content of the message into the body parameter of the publlish method and setting the BasicProperties to null.

This causes the m

[2022-08-18 10:04] JatinSanghvi commented on #206
@michaeltg17, are you trying to set output binding parameter like below:

[code]

RabbitMQ extension does not have a special handling for `BasicDeliverEventArgs` for output binding so it treats it as a regular POCO class, converts it to JSON string and passes it as body to the output RabbitMQ queue. It does have special handling for type `BasicDeliverEventArgs` in trigger binding.

I can be wrong,

[2022-08-28 06:02] ghost commented on #206
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-08-31 09:02] #206 closed, assigned to nobody

[2022-09-16 09:27] aaguilartablada opened #207 "ERROR: messages corrupted after republished"
Hello.

We are experiencing a strange behaviour with the version 2.0.0. To reproduce this behaviour, I have developed a dummy function that the only thing it does is printing the message and throwing an exception:

[code]

If I produce the next message in the queue 'example-queue-fail':
[code]
everything goes fine (one plus five retries):
[code]

The strange thing occurs when the message is longer

[2022-09-17 15:18] JatinSanghvi commented on #207
- I am able to reproduce the error. It is intermittent. Sometimes, it happens on the first republish, sometimes after a few republishes.

- The bug seems be inside either RabbitMQ client or the service. I logged the input message inside the extension code as soon as it is received and the output message just before it gets republished. The output message is the exact string in both working on corr

[2022-09-17 15:30] JatinSanghvi commented on #207
Unable to find any related issue on https://github.com/rabbitmq/rabbitmq-dotnet-client/issues but also unable to reproduce the error after upgrading to RabbitMQ client 6.4.0. I tried message body of size 8192 characters but did not find the republished messages to ever be corrupted.

I will create a pull request soon. Since this is a major issue, I will also create a new extension release (possibl

[2022-09-17 18:24] JatinSanghvi opened #209 "Perform strong name signing for extension assembly"
This would enable other strong name signed assemblies to take dependency on the extension.

[2022-09-18 04:20] #207 closed, assigned to JatinSanghvi

[2022-09-19 07:10] aaguilartablada commented on #207
Thank you so much @JatinSanghvi . When do you estimate that release 2.0.1 will be available?

[2022-09-19 07:21] JatinSanghvi commented on #207
I will try to get the new version out by end of Tuesday. Need to complete one round of testing before creating a release.

[2022-09-20 13:48] JatinSanghvi commented on #207
Version 2.0.1. is released now. https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.RabbitMQ/2.0.1

[2022-09-21 08:20] aaguilartablada commented on #207
Hello again @JatinSanghvi . I have seen the version 2.0.1 published in nuget.org (https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.RabbitMQ). So, I have tested it.

BAD NEWS: the problem is still there. When the message is long my function receives the message corrupted for retries.

[2022-09-22 07:53] aaguilartablada opened #211 "ERROR: corrupted messages continues on 2.0.1"
Hello.

The problem described in https://github.com/Azure/azure-functions-rabbitmq-extension/issues/207 still occurs. I have tested the same dummy function with the version 2.0.1 and I still see corrupted messages.

I have tested it over Function Host 4.1.1 and 4.11.0 with no difference.

[2022-09-22 08:08] M3LiNdRu commented on #211
After further investigation I noticed that message is malformed before publish it in the queue, so it seems that rabbitmq client does not have any relation with the issue.

Something weird occurs here: _Microsoft.Azure.WebJobs.Extensions.RabbitMQ.RabbitMQListener_

[code]

After TryExecuteAsync execution, ea.Body comes corrupted.

[2022-09-22 09:29] aaguilartablada commented on #211
Exactly @M3LiNdRu  . We have tested as far as we could introducing debugging lines in RabbitMQListener and we saw the same as you mention.

[2022-09-22 15:37] JatinSanghvi commented on #211
Sorry, I have been busy this week on a Microsoft Hackathon project. As per my testing (the details are there in the other issue), I found the corruption to have happened out of the extension code. I could not reproduce the issue after upgrading to the latest client library with repeated testing. I had done another round of testing before creating release 2.0.1. I will try to come back to this tomo

[2022-09-23 12:13] aaguilartablada commented on #211
Hello @JatinSanghvi . I've just created a PR (https://github.com/Azure/azure-functions-rabbitmq-extension/pull/212) that solves the issue. It is a workaround, but it works. Please, give it some time when you can. Thanks!

[2022-09-27 13:24] abaratham-nlok opened #213 "ClassCast Exception - ExecutionContextDataSource cannot be cast to java.lang.String"
Hello,

I am getting a ClassCastException when running a RabbitMQTriggered Java function

Core Tools Version:       4.0.4785 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.10.4.19213

Gradle dependency versions and azurefunctions plugin config:
[code]

I have also tried downgrading the core tools and java runtime worker to version ~3, and azure-functions-java-library to 1.4.2.

Function de

[2022-09-29 10:22] JatinSanghvi commented on #211
Apologies due to error on my part. I used a string of length 8192 characters for testing. It seems the issue never reproduces for strings of lengths that are multiple of 512 bytes. I am not clear on why the message string was found corrupted only after receiving it the next time. I will go through @M3LiNdRu's message, try to debug the issue inside WebJobs SDK code, and appropriately will approve t

[2022-09-29 11:38] JatinSanghvi commented on #211
I am having a different observation which matches with what I had during initial testing. I wrapped the call to `BasicPublish` inside method `RepublishMessages` in file `RabbitMQListener.cs` like below:

[code]

This intermittently produces following output:

[code]

This means the client is updating the body before sending it back to RabbitMQ queue (as we can see the corruption). From next time o

[2022-09-29 19:01] JatinSanghvi commented on #211
I think I have understood the reason for the observation above. The call to `BasicPublish` is quickly triggering another event on `this.consumer.Received` before the handler for the previous event could finish logging of the message with prefix `RepublishMessages (2)` in above code. It seems RabbitMQ client is internally doing an unsafe operation and reusing the same chunk of memory to the pass th

[2022-09-30 06:40] JatinSanghvi opened #214 "Add unit tests for class `RabbitMQTriggerListener`"
If required, the unit tests may be converted to integration tests. The RabbitMQ service can be setup locally as in [here](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/99a2b6948538f7ac0cb975ec97f21a5ac59edce8/.github/workflows/main.yaml#L56-L61).

[2022-10-04 07:38] tijmenamsing commented on #211
Hi @JatinSanghvi, great to see that you've found a solution. When do you expect to release it?

[2022-10-04 10:38] JatinSanghvi commented on #211
This is scheduled for Thursday this week. The release needs to be approved and the approvers are on vacation :)

[2022-10-07 07:53] JatinSanghvi commented on #211
We have released version 2.0.2 that should have this issue fixed. Thanks to everyone on this issue thread.

[2022-10-10 11:39] JatinSanghvi opened #217 "Refactor extension source code"
This issue will track all refactoring pull requests between v2.0 and v2.1.

[2022-10-13 15:07] tijmenamsing commented on #211
@JatinSanghvi We have updated to v2.0.2 but we still have an issue with corrupted request bodies. The error isn't always the same. We initially send a json object of type `ProfileRequest`, which is properly deserialized the first time but isn't thereafter.

- `Unable to deserialize. Newtonsoft.Json.JsonReaderException: Error parsing comment. Expected: *, got e. Path '', line 1, position 1.`

- `Un

[2022-10-13 16:43] JatinSanghvi commented on #211
Hi @tijmenamsing, if possible, can you share a function that will reproduce the error?

[2022-10-13 23:06] yvanoers commented on #211
I've traced this down to being caused by a combination of how the RabbitMQ client manages the memory of the body that gets passed in to the `Received` handler combined with the event handler being async and awaiting `TryExecuteAsync`.

The RabbitMQ client (in `ConcurrentConsumerDispatcher.cs` in method `HandleBasicDeliver(...)`) rents an array from an ArrayPool to hold a copy of the body for the l

[2022-10-14 00:51] JatinSanghvi commented on #211
Hi @yvanoers, this is a great finding. I had actually made a change [similar to what you suggested](https://github.com/JatinSanghvi/azure-functions-rabbitmq-extension/blob/refactor-listener/extension/WebJobs.Extensions.RabbitMQ/Trigger/RabbitMQListener.cs#L90-L94) to be committed to be on the safer side as part of refactoring listener class, though I did not know that async is at play here. If pos

[2022-10-14 07:10] yvanoers commented on #211
Hi @JatinSanghvi,
I tested the change you linked and it does fix the problem, but I would refrain from reassigning the `Body` property in the `ea` object. Although this (currently) does not effectively change the content nor introduce a problem, there might be unexpected side effects if there should ever be another event handler added that expects the property to hold the precise value the event w

[2022-10-17 09:18] #211 closed, assigned to nobody

[2022-10-18 08:40] yvanoers commented on #211
@JatinSanghvi
Awesome that the fix has been merged!
Is it possible to release it soon? We're eager to update our library.

[2022-10-19 04:06] JatinSanghvi commented on #211
I should get the new release out in a day.

[2022-10-19 09:31] JatinSanghvi commented on #211
The new version is released now. Thanks everyone for your help and support towards getting the issue fixed.

[2022-10-20 14:52] yvanoers commented on #165
This has been fixed in v2.

[2022-10-28 21:20] #217 closed, assigned to JatinSanghvi

[2022-11-03 11:34] JatinSanghvi commented on #211
It seems that `AsyncEventingBasicConsumer` class from RabbitMQ client eliminates the issue so there is no need to copy the message body. Check https://gist.github.com/JatinSanghvi/0993825524957bb3f36f207ac7d4a676. I will add a commit for future release that replaces `EventingBasicConsumer` with `AsyncEventingBasicConsumer`.

The `AsyncEventHandlerExtensions` implementation and the definition of `A

[2022-11-03 19:55] yvanoers commented on #211
That looks like the intended way - it should be the actual fix.
Excellent!

[2022-11-03 22:31] teebu commented on #119
any progress on this? still seeing `"basicProperties": "RabbitMQ.Client.Framing.BasicProperties",`

[2022-11-04 04:18] JatinSanghvi commented on #119
Hi @teebu, are you using the 2.x version of the RabbitMQ extension? I remember we had this issue for .NET isolated function apps, which was fixed with 2.x. If not, it would be quicker for me to take a look if you can provide a sample application that reproduces the issue.

[2022-11-07 19:24] teebu commented on #119
How do i check the version of the rabbitMQ extension? I am using whatever comes without making any modifications or custum installs.

[code]

[2022-11-08 05:56] JatinSanghvi commented on #119
I think you are getting the RabbitMQ extension through extension bundle which has the [major version of extension set to 1.x](https://github.com/Azure/azure-functions-extension-bundles/blob/v1.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json#L88). We are not allowed to increment the major version of RabbitMQ extension to 2.x in existing bundles and we need to wait for next major ver

[2022-11-08 05:58] JatinSanghvi commented on #119
BTW, here is the other issue that I think is related and was fixed in v2.x: #173